version: "3.5"
services:
  postgres:
    image: sorrell/agensgraph-extension
    ports:
      - 5435:5432
    env_file:
      - ./.env
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_USER: ${DB_USER}
    volumes:
      - ./docker-entrypoint/initdb.d:/docker-entrypoint-initdb.d:ro
      - ./var/lib/postgres:/var/lib/postgresql/11/main:delegated
